<!DOCTYPE html>
<html>
<head>
  <title>Alohomora</title>
  <%= stylesheet_link_tag    "alohomora/application", :media => "all" %>
  <%= javascript_include_tag "alohomora/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
